@model NewsNow.Models.Article

<div class="card flex-md-row mb-4 shadow-sm h-md-250">
    <div class="card-body d-flex flex-column align-items-start" style="background-color: #f2eeee">
        <strong class="d-inline-block mb-2 text-primary">?CATEGORY?</strong> @*TODO: Add category header*@
        <h3 class="mb-0">
            <a class="text-dark" asp-controller="Articles" asp-action="Details" asp-route-id="@Model.ArticleId">@Html.DisplayFor(model => model.HomeHeader)</a>
        </h3>
        <div class="mb-1 text-muted">@Html.DisplayFor(model => model.DateCreated)</div>
        <p class="card-text mb-auto">@Html.DisplayFor(model => model.HomeContent)</p>
        <a asp-controller="Articles" asp-action="Details" asp-route-id="@Model.ArticleId">Continue reading</a>
    </div>
    <a asp-controller="Articles" asp-action="Details" asp-route-id="@Model.ArticleId">
        <img class="card-img-right flex-auto d-none d-lg-block" style="width: 200px; height: 250px;" src="@Html.DisplayFor(model => model.HomeImage)">
    </a>
</div>