@model NewsNow.Models.Article

@{
    ViewData["Title"] = Model.Header;
}


<div class="page-header">
    <h1>@Html.DisplayFor(model => model.Header)</h1>
    <p>
        @Html.DisplayFor(model => model.Summery)
    </p>
    <small>@Html.DisplayFor(model => model.DateCreated)</small>
    <small>@Html.DisplayFor(model => model.Location)</small>
    <partial name="_CategoryBadge" model="@Model.Category" />

    <div class="btn-group" role="group" aria-label="...">
        <a asp-action="Edit" asp-route-id="@Model.ArticleId" class="btn btn-sm btn-outline-secondary">Edit</a>
        <a href="/" class="btn btn-sm btn-outline-secondary">Home</a>
    </div>

    <br />
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-screen-name="false" data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br />
</div>
<div class="row">
    <div class="col-md-8">
        <div id="twitter-handle" class="col-12">
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <div id="ArticleContent" class="border-bottom"></div>
        </div>
        <div class="col-12">
            <h3>Comments</h3>
            <div class="border-bottom mb-2">
                <form id="newCommentForm">
                    <div class="form-group form-group-sm">
                        <input type="text" name="Author" class="form-control" placeholder="Who are you?" />
                    </div>
                    <div class="form-group form-group-sm">
                        <textarea name="Content" class="form-control" rows="2" placeholder="And what do you think about this?"></textarea>
                    </div>
                    <div class="form-group form-group-sm">
                        <input type="hidden" name="ArticleId" class="form-control" value="@Model.ArticleId" />
                    </div>
                    <div class="form-group form-group-sm">
                        <button type="button" class="btn btn-success btn-sm mr-2" data-toggle="modal" data-target="#commentModal">Post it!</button>
                        Remember: Keep it clean!
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <small id="commentsCountLabel">
                    Loading comments...
                </small>
                <div class="list-group" id="commentsList">
                </div>
            </div>
            <div id="result">

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="bs-example" data-example-id="default-media">

            @if (Model.IsShowMap)
            {
                <h3>Media</h3>
                <div class="media">
                    <div class=" media-left">
                        <div id="articleMap" class="img-thumbnail" style="width: 350px; height: 300px;"></div>
                    </div>
                </div>
            }

            <h3>Related...</h3>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img alt="64x64" class="media-object" data-src="holder.js/64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNjYwMTQ4MTk1YiB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE2NjAxNDgxOTViIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy4xNzk2ODc1IiB5PSIzNi41Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img alt="64x64" class="media-object" data-src="holder.js/64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNjYwMTQ4MTk1YiB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE2NjAxNDgxOTViIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy4xNzk2ODc1IiB5PSIzNi41Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">asdasd</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to post this comment?

                <small>The comment will be posted as soon as possible, After a brief check</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="post_comment()">Post comment!</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script id="commentTemplate" type="text/x-jQuery-tmpl">
        <div class="media mb-1 border-bottom">
            <div class="media-left">
                <table class="comment-number-container mr-2">
                    <tbody>
                    <td class="align-middle text-center">#${sequence}</td>
                    </tbody>
                </table>
            </div>
            <div class="media-body">
                <small>${author}</small>
                <p>${content}</p>
            </div>
            <a href="#">Report</a>
        </div>
    </script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script async type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "https://publish.twitter.com/oembed?url=https://twitter.com/Interior/status/463440424141459456",
                data: "https://twitter.com/Interior/status/463440424141459456",
                dataType: 'jsonp',
                crossDomain: true,
                success: function (data) {
                    $("#twitter-handle").append(data['html']);
                }
            })
        });
    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#ArticleContent").html(markdown_to_html("@Model.Content"));

            update_comments()
        })

        var post_comment = function () {
            var data = $("#newCommentForm").serializeArray()
            new_comment(data[0].value, data[1].value, data[2].value)
            console.log(data)
        }

        var update_comments = function () {
            get_comments(@Model.ArticleId).then(function (comments) {
                comments.forEach(comment => {
                    $("#commentTemplate").tmpl(comment).appendTo("#commentsList");
                })
                $("#commentsCountLabel").html(comments.length + " Comments")
            })
        }

    </script>

    @if (Model.IsShowMap)
    {
        <script type="text/javascript">
            var map = null;

            function LoadMap() {
                map = new Microsoft.Maps.Map('#articleMap', {
                    credentials: "AglcOvofpKm1X-WOXDY3_Cr0bxdAbKzUid-4bp7Em3BxbNPK_kT-X8iWI4B1RF0H",
                    showMapTypeSelector: false,
                    showZoomButtons: false,
                    showLocateMeButton: false
                });

                Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                    var searchManager = new Microsoft.Maps.Search.SearchManager(map);
                    var requestOptions = {
                        bounds: map.getBounds(),
                        where: decodeHtml("@Model.Location"),
                        callback: function (answer, userData) {
                            map.setView({ bounds: answer.results[0].bestView });
                            map.entities.push(new Microsoft.Maps.Pushpin(answer.results[0].location))
                        }
                    };
                    searchManager.geocode(requestOptions);
                });
            }

            map.setView({
                zoom: 10, center: new Microsoft.Maps.Location(32.18658, 34.872192)
            });
        </script>
        <script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?callback=LoadMap" async defer></script>
    }
}