@model IEnumerable<Article>
@{
    ViewBag.Title = "Search";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    @Html.DropDownList("CategoryId", (SelectList)ViewBag.Categories, "Select Category", new { @class = "form-control" })
    <input class="form-control" type="text" id="Summery" name="Summery" value="Title">
    <input class="form-control" type="text" id="Summery" name="Summery" value="Date">
    <input class="form-control" type="text" id="Summery" name="Summery" value="Text">
    <input type="submit" value="Search" class="btn btn-primary" />
}



@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <a asp-controller="Articles" asp-action="Details" asp-route-id="@item.ArticleId">
            <dd>
                @Html.DisplayFor(model => item.Header)
            </dd>
        </a>
    }
}

@section Scripts
    {
    <script type="text/javascript">

    </script>
}
