@model IEnumerable<NewsNow.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var c in (Dictionary<Category, List<Article>>)ViewData["Categories"])
{
    <div class="row mb-2 category col-lg-12">
        <div class="row">
            <div class="row col-lg-12">
                <h3>@Html.DisplayFor(modelItem => c.Key.Name)</h3>
            </div>
        </div>
        <div class="row col-lg-12">
            @foreach (var article in c.Value)
            {
                <div class="col-md-4">
                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                        <p style="text-align:center; margin-top:20px;">
                            <img src="@Html.DisplayFor(modelItem => article.HomeImage)" class="img-responsive" alt="Image not found" onerror="this.src='http://placehold.it/500x330';" />
                        </p>
                        <div class="caption">
                            <div class="blur"></div>
                            <div class="caption-text">
                                <h3 style="padding:10px;">@Html.DisplayFor(modelItem => article.HomeHeader)</h3>
                                <p>@Html.DisplayFor(modelItem => article.HomeContent)</p>
                                <a asp-action="Details" asp-route-id="@article.ArticleId" class="btn btn-default">Read more...</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}



