@model IEnumerable<NewsNow.Models.Article>

@{
    ViewData["Title"] = "Index";
    ViewData["Tab"] = "Home";
}
<div class="nav-scroller py-1 mb-2" >
    <nav class="nav d-flex justify-content-between border rounded">
        @foreach (var c in (Dictionary<Category, List<Article>>)ViewData["Categories"])
        {
            <a class="p-2 text-muted" href="#">@c.Key.Name</a>
        }
    </nav>
</div>

<!--Main featured article-->
<div class="card flex-md-row mb-4 box-shadow h-md-250 home-main-article">
    <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">?CATEGORY?</strong> @*TODO: Add category here*@
        <h3 class="mb-0">
            <a asp-controller="Articles" asp-action="Details" asp-route-id="@(((Article)ViewData["MainArticle"]).ArticleId)" class="text-dark">@(((Article)ViewData["MainArticle"]).HomeHeader)</a>
        </h3>
        <div class="mb-1 text-muted">@(((Article)ViewData["MainArticle"]).DateCreated)</div>
        <p class="card-text mb-auto">@(((Article)ViewData["MainArticle"]).HomeContent)</p>
        <a asp-controller="Articles" asp-action="Details" asp-route-id="@(((Article)ViewData["MainArticle"]).ArticleId)">Read more...</a>
    </div>
    <a asp-controller="Articles" asp-action="Details" asp-route-id="@(((Article)ViewData["MainArticle"]).ArticleId)">
        <img class="card-img-right flex-auto d-none d-md-block" style="width: 400px; height: 250px;" src="@(((Article)ViewData["MainArticle"]).HomeImage)" data-holder-rendered="true" />
    </a>
</div>
<h3 class="pb-3 mb-4 font-italic border-bottom">Featured <small>The MUST READ articles</small></h3>

<div class="row mb-2">
    <div class="col-md-6">
        <partial name="_ArticleHorizontal" model="@(((List<Article>)ViewData["Featured"])[4])" />
    </div>
    <div class="col-md-6">
        <partial name="_ArticleHorizontal" model="@(((List<Article>)ViewData["Featured"])[5])" />
    </div>
    <div class="col-md-6">
        <partial name="_ArticleHorizontal" model="@(((List<Article>)ViewData["Featured"])[1])" />
    </div>
    <div class="col-md-6">
        <partial name="_ArticleHorizontal" model="@(((List<Article>)ViewData["Featured"])[2])" />
    </div>
</div>

@foreach (var c in (Dictionary<Category, List<Article>>)ViewData["Categories"])
{
    var category = c.Key;

    <div class="container">
        <div class="row">
            <h3 class="pb-3 mb-4 font-italic border-bottom">@category.Name</h3>
        </div>
        <div class="row">
            @foreach (Article article in c.Value)
            {
                <div class="col">
                    <partial name="_ArticleVertical" model="article" />
                </div>
            }
        </div>
    </div>
}
